*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #ccc;

}
.headline{
    margin: 0 auto;
    width: 550px;
    text-align: start;
    margin-top: 60px;
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 800;
}
.line{
    width: 550px;
    height: 1px;
    background: #000;
}

#accordion{
    margin: 50px auto;
    width: 600px;
}

#accordion li{
    list-style: none;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
}

#accordion li label{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 35px;
    font-weight: 500;
    cursor: pointer;
    color: red;
}
#accordion li label span{
    cursor: pointer;

}
.content {
    margin: 10px 0;
    text-align: center;
    line-height: 26px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

#accordion label + input[type='radio']{
    display: none;
}

#accordion label + input[type='radio']:checked + .content{
    max-height: 500px;
    
}

#accordion label + input[type='radio']:hover + .content{
    max-height: 500px;
}
#accordion span {
  display: none;
}

#accordion:hover span {
    display: block;
}

.minus{
    display: none;
}
#accordion label:hover .minus{
    display: block;
}
#accordion label:hover span{
    display: none;
}

#accordion label:checked .minus{
    display: block;
}
#accordion label + input[type='radio']:checked + .minus{
    display: none;
}

#accordion label:hover {
   transition: 1s ease; font-size: 33px;
}



@media (max-width: 320px) {
    .container{
        width: 90%;
    }
    .headline{
        margin: 29px 20px;
    }
}